[submodule "bundle/ack"]
  path = bundle/ack
  url = git://github.com/vim-scripts/ack.vim
[submodule "bundle/bufexplorer"]
  path = bundle/bufexplorer
  url = git://github.com/vim-scripts/bufexplorer.zip
[submodule "bundle/command-t"]
  path = bundle/command-t
  url = git://github.com/vim-scripts/Command-T.git
[submodule "bundle/file-line"]
  path = bundle/file-line
  url = git://github.com/vim-scripts/file-line
[submodule "bundle/vim-fugitive"]
  path = bundle/vim-fugitive
  url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/loremipsum"]
  path = bundle/loremipsum
  url = git://github.com/vim-scripts/loremipsum
[submodule "bundle/matchit"]
  path = bundle/matchit
  url = git://github.com/vim-scripts/matchit.zip
[submodule "bundle/nerdcommenter"]
  path = bundle/nerdcommenter
  url = git://github.com/scrooloose/nerdcommenter
[submodule "bundle/nerdtree"]
  path = bundle/nerdtree
  url = git://github.com/scrooloose/nerdtree
[submodule "bundle/qfixtoggle"]
  path = bundle/qfixtoggle
  url = git://github.com/sunaku/QFixToggle
[submodule "bundle/snipmate"]
  path = bundle/snipmate
  url = git://github.com/msanders/snipmate.vim
[submodule "bundle/syntastic"]
  path = bundle/syntastic
  url = git://github.com/scrooloose/syntastic
[submodule "bundle/taglist"]
  path = bundle/taglist
  url = git://github.com/vim-scripts/taglist.vim
[submodule "bundle/vim-endwise"]
  path = bundle/vim-endwise
  url = git://github.com/tpope/vim-endwise
[submodule "bundle/vim-git"]
  path = bundle/vim-git
  url = git://github.com/tpope/vim-git
[submodule "bundle/vim-haml"]
  path = bundle/vim-haml
  url = git://github.com/tpope/vim-haml
[submodule "bundle/vm-markdown"]
  path = bundle/vm-markdown
  url = git://github.com/tpope/vim-markdown
[submodule "bundle/vim-rails"]
  path = bundle/vim-rails
  url = git://github.com/tpope/vim-rails
[submodule "bundle/vim-surround"]
  path = bundle/vim-surround
  url = git://github.com/tpope/vim-surround
[submodule "bundle/vim-unimpaired"]
  path = bundle/vim-unimpaired
  url = git://github.com/tpope/vim-unimpaired
[submodule "bundle/vim-smartinput"]
	path = bundle/vim-smartinput
	url = git://github.com/kana/vim-smartinput.git
[submodule "bundle/html5.vim"]
	path = bundle/html5.vim
	url = git://github.com/othree/html5.vim.git
[submodule "bundle/vim-align"]
	path = bundle/vim-align
	url = git://github.com/tsaleh/vim-align.git
[submodule "bundle/vim-json"]
	path = bundle/vim-json
	url = git://github.com/leshill/vim-json.git
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
